* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --light-1: #0079ff;
  --light-2: #697c9a;
  --light-3: #4b6a9b;
  --light-4: #2b3442;
  --light-5: #f6f8ff;
  --light-6: #fefefe;
  --dark-1: #0079ff;
  --dark-2: #ffffff;
  --dark-3: #141d2f;
  --dark-4: #1e2a47;
}
body {
  font-family: "Space Mono", monospace;
  background-color: var(--light-5);
}
.dark-bck {
  background-color: var(--dark-3) !important;
}
.dark-bck2 {
  background-color: var(--dark-4) !important;
}
.dark-txt {
  color: white !important;
}
.dark-placeholder::placeholder {
  color: white !important;
}
.show {
  display: flex !important;
}
.hide {
  display: none !important;
}

main {
  max-width: 750px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 50px;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.logo span {
  font-size: 26px;
  font-weight: bold;
  color: #222731;
}
.lm {
  display: flex;
  align-items: center;
}
.lm span {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--light-2);
}
.lm img {
  display: flex;
  width: 20px;
  margin-left: 10px;
}
.light {
  display: none;
}
.searchbar {
  width: 100%;
  margin-top: 35px;
}
.searchbar label {
  display: flex;
  position: relative;
  align-items: center;
}
.searchbar label img {
  position: absolute;
  left: 25px;
  width: 24px;
}
#search {
  position: absolute;
  right: 10px;
  font-size: 16px;
  color: var(--dark-2);
  font-family: "Space Mono", monospace;
  font-weight: bold;
  background-color: var(--light-1);
  border: none;
  border-radius: 10px;
  padding: 15px 24px;
  cursor: pointer;
  transition: 250ms;
}
#search:hover {
  background-color: #60abff;
  transition: 250ms;
}
.searchbar label input {
  width: 100%;
  height: 70px;
  background-color: var(--dark-2);
  border: none;
  border-radius: 15px;
  padding: 10px 10px 10px 60px;
  font-size: 18px;
  color: var(--light-3);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#searchInput:focus {
  outline: none;
}
.searchbar label input::placeholder {
  color: var(--light-3);
  font-family: "Space Mono", monospace;
}
.result {
  background-color: var(--dark-2);
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 40px;
  margin-top: 35px;
  border-radius: 15px;
}

.result-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: var(--light-4);
}
#img {
  width: 115px;
  height: 115px;
}
.header-right {
  width: 78%;
  display: flex;
  justify-content: space-between;
}
.result-content {
  width: 78%;
  margin-left: auto;
}
.git-id {
  display: flex;
  flex-direction: column;
}
#name {
  font-size: 26px;
  font-weight: bold;
}
#joined {
  font-size: 15px;
  margin-top: 5px;
  color: var(--light-2);
}
#githubId {
  font-size: 16px;
  color: var(--dark-1) !important;
}
#bio {
  font-size: 15px;
  line-height: 25px;
  color: var(--light-3);
}
.stats {
  display: flex;
  justify-content: space-between;
  background-color: var(--light-5);
  padding: 15px 20px;
  border-radius: 10px;
  margin: 30px 0px;
}
.stat span {
  font-size: 13px;
  color: var(--light-3);
}
.stat p {
  font-size: 22px;
  font-weight: bold;
  color: var(--light-4);
}
.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.link {
  width: 48%;
  display: flex;
  align-items: center;
  margin: 10px 0px;
}
.link img {
  height: 20px;
  width: 20px;
  object-fit: contain;
  margin-right: 15px;
}
.link span {
  color: var(--light-3);
  font-size: 15px;
}
#url {
  cursor: pointer;
}
#url:hover {
  text-decoration: underline;
}
@media screen and (max-width: 750px) {
  .header-right {
    flex-direction: column;
    justify-content: start;
    margin-left: 40px;
  }
  .result-content {
    width: 100%;
    margin-top: 20px;
  }
}
@media screen and (max-width: 600px) {
  .result-header {
    align-items: center;
  }
  .link {
    width: 100%;
  }
  #name {
    font-size: 16px;
  }
  #githubId {
    font-size: 13px;
  }
  #joined {
    font-size: 13px;
  }
  #bio {
    font-size: 13px;
  }
  .stat {
    text-align: center;
  }
  .stat span {
    font-size: 11px;
  }
  .stat p {
    font-size: 16px;
  }
  .link span {
    font-size: 13px;
  }
  main {
    padding: 15px;
  }
  .result {
    padding: 20px;
  }
}
